legend {
    font-size: 30px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-none {
    float: none;
}

.sort {
    color: white;
    font-weight: bold;
    font-size: 30px;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 5px;

    &.left{
        float: left;
        background: red;
    }
    &.right {
        float: right;
        background: orange;
    }
    &.center {
        margin: 0 auto;
        background: pink;
    }
}

.width {
    color: white;
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
    height: 50px;
    margin: 0 10px;
    padding: 10px;

    &.block-red {
        background: red;
    }
    &.block-orange {
        background: orange;
    }

    &.block-green {
        background: green;
        float: left;
    }

    &.block-blue {
        background: blue;
    }

    &.block-d-blue {
        background: darkblue;
        float: left;
    }

    &.block-purple {
        background: purple;
        overflow: hidden;
    }
}


.container1 {
    color: white;
    text-align: center;
    padding: 10px;
    background-color: #def0c2;
}

.container2 {
    color: white;
    text-align: center;
    padding: 10px;
    background-color: #def0c2;
    overflow: hidden;
}


.d1, .d2 {
    float: left;
    width: 50%;
    padding: 20px 0;
}
.d1 {
    background-color: #59b1f6;
}
.d2 {
    background-color: #ffb5b4;
}